$color_red: #FF4343;
$color_grey: #404040;
$color_light_grey: #c7c7c7;
$color_dark_blue: #1e3353;

$title_size1: 26px;
$title_size2: 20px;
$p_size_L: 18px;
$p_size_M: 16px;
$p_size_S: 14px;
$p_size_XS: 12px;

$title_fontWeight: 700;

.sec6_flex{
        display: flex;
        padding: 2px;
        .sec6_left_content{
            height: 180px;
            flex-basis: 50%;
            text-align: center;
            background-color: #DDE0F1;
            // border-radius: 20px;
            padding: 15px;            
            h2{
                font-size: $title_size1;
                font-weight: 700;
                color:$color_grey;
            }
            p{
                font-size: $p_size_S;
            }
            .link_sec6{
                color:$color_dark_blue;
                color:$color_red;
                text-decoration: none;
                
                .cta_btn{
                    // margin-top: 10px;
                    padding: 10px;
                    border: 1px solid $color_red;
                    border-radius: 20px;
                    font-size: $p_size_S;
                    &:hover{
                        background-color: $color_red;  
                        color: white;
                    }
                }
            }
        }
        .sec6_right_img{
            flex-basis: 50%;
            background:  url(./image/test12.jpg) no-repeat;
            background-size: cover;            
            // border-radius: 20px; 
        }
    }



