    .sec6_flex{
        display: flex;
        padding: 2px;
        .sec6_left_content{
            flex-basis: 50%;
            text-align: center;
            background-color: #DDE0F1;
            border-radius: 20px;            
            button{
                text-align: center;
            }
        }
        .sec6_right_img{
            flex-basis: 50%;
            background:  url(./image/test12.jpg) no-repeat;
            background-size: cover;            
            border-radius: 20px; 
        }
    }

