.sec6{
    width: 100%;
    background-color: #ECF0FB;
    box-sizing: border-box;
    margin: 5px;
    .sec6_flex{
        display: flex;
        width: 95%;
        margin: 0 auto;
        padding: 2px;
        .sec6_left_content{
            flex-basis: 50%;
            text-align: center;
            button{
                text-align: center;
            }
        }
        .sec6_right_img{
            flex-basis: 50%;
            background:  url(./image/test12.jpg) no-repeat;
            background-size: cover;            
            // img{
            //     width: 100%;
            // }
        }
    }
}
