$mainColor : #FF4343;

.cart {
  z-index: 9999;
  font-family: 'Roboto', 'Noto sans CJK TC';
  font-weight: bold;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: -300px;
  background-color: #777777;
  color: #f8f9fa;
  transition: 0.5s;
  text-align: center;


  .title {
    line-height: 62px;
    font-size: 1.5rem;
    background-color: #555555;
  }

  .productInfo {
    line-height: 30px;
    padding: 0px;
  }

  .productImg {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    height: 60px;
  }
  .btnDelete{
    margin: -8px 0 0 0;
    background-color: #dc3545;
    padding: 0;
    line-height: 98px;
    transition: .5s;
    opacity: 0;
    cursor: pointer;
    i{
      font-size: 1.25rem;
      margin: 0 15px 0 0;
    }
    &:hover{
      opacity: 1;
    }
  }

  .productName {
    font-size: 1.25rem;
    text-align: left;
    padding: 0;
  }

  .productSpec {
    font-weight: normal;
    text-align: left;
    color: #f0f0f0;
    padding: 0;
  }

  .productPrice {
    text-align: left;
    padding: 0;
  }

  .productQty {
    padding: 0;
    line-height: 30px;
  }

  .btnMP {
    line-height: 30px;
    padding: 0px 7px;
    margin: 0px 5px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    transition: .5s;

    &:hover {
      background-color: #dc3545;
      box-shadow: rgba(220, 53, 69, 0.5);
      border: none;
    }

    &:focus {
      box-shadow: none;
    }
  }



  .line1 {
    border-top: 1px solid #f8f9fa;
    border-radius: 5px;
  }

  .totalPrice {
    font-size: 1.25rem;
    margin: 0 0 10px 0;
  }

  .btnCheckOut {
    width: 100%;
    color: #f8f9fa;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 3px 0;
  }
}

.openCart {
  right: 0px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation: 1s fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation: 1s fadeInRight;
}