$color_red: #FF4343;
$color_grey: #404040;

$title_size1: 26px;
$title_size2: 20px;
$p_size_L: 18px;
$p_size_M: 16px;
$p_size_S: 14px;
$p_size_XS: 12px;

body{
    font-family: '微軟正黑體';
}
.recm_wrap{
    width: 400px;
    margin: 30px 0;
    position: relative;
    .recm_star{
        height: 40px;
        vertical-align: middle;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
.recm_title{
    font-size: $title_size1;
    // line-height: 5rem;
    margin: 10px 0;
    font-weight: 700;
    color: $color_grey;
    cursor: pointer;
}
.recm_recipe_title{
    position: absolute;
    top: 200px;
    left: 20px;
    color: #ffffff;
    
    // opacity: 0;
    font-size: $title_size2;
    width: 100%;
    height: 20%;
    .recm_recipe_h{
       font-weight: 600; 
    }
    p{
        margin: 0;
    }
    &:hover{
        opacity: 1;
    }
    .recm_recipe_text{
        font-size: $p_size_S;
    }
}
.hover_black{
    // opacity: 0;
    // background-color: #000000;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 5%, black);
    z-index: 99;
}
.recipe_wrap{
    max-width: 400px;
    position: relative;
    img{
        max-width: 400px;
        // height: 200px;
        cursor: pointer;
        transition: .5s;
        
        &:hover{
            opacity: 0.6;   
        }
    }    
}

@media screen and (max-width:992px){
    .recm_wrap{
        margin: 5% auto;
        .recipe_wrap{

        }
    }
}

@media screen and (max-width:550px){
    .recm_wrap{
        width:70%;
        .recipe_wrap{
            width: 100%;
            .recm_recipe_title{
                width: 95%;
                top: 60%;
                left: 3%;
                .recm_recipe_h{
                    font-size: $p_size_M;
                }
                p{
                    font-size: $p_size_S;
                }
            }
            img{
                width: 100%;
            }
        }
    }
}