$mainColor : #FF4343;
$secondColor : #707070;
.mainWrap {
    opacity: 0;
    transition: 1s;
    transform: translateX(-200px);
}
.secondWrap {
    opacity: 0;
    transition: 1s;
    transform: translateX(200px);
}
.thirdWrap {
    opacity: 0;
    transition: 3s;
    transform: translateY(0px);
}
.i {
    opacity: 0;
    transition: 1s;
    transform: translateY(-200px);
}
.toTop {
    width: 50px;
    height: 50px;
    // background: #000;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
header {
    .foodTitle{
        width: 600px;
        text-align: center;
        font-weight: 600;
        font-family: 'Noto sans CJK TC', 微軟正黑體;
        position: absolute;
        color: #393939;
        left: 30%;
        top:30%;
        background: rgba(255,255,255,.5);
        padding: 20px;
        border-radius: 20px;
    }
    height: 100vh;
    // background: url('images/3.png') no-repeat center;
    background-size: cover;
    transform: translateY(-150px);
    .firstMenu{
        transform: translateY(600px);
        img {
            height: 300px;
            width: 300px;
        }
    }
}
.home {
    font-family: '微軟正黑體';
    color: $secondColor;
    .secondMenu {
                                img {
                                    height:  150px;
                                }

    }
    .sFotter{
        background: url('./images/re12.png') center no-repeat;
        background-size: cover;
        height: 300px;
        .smallBox1 {
            background: rgba(255, 255, 255, .5);
            width: 400px;;
            height:  200px;;
            font-size: 1.5em;
            color: #000;
        }
    }
}
@keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 0;
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  
  .rubberBand {
    animation: 1s rubberBand;
    animation-delay:.3s;
    animation-fill-mode: forwards;
  }
  .rubberBand2 {
    animation: 1s rubberBand;
    animation-delay:.6s;
    animation-fill-mode: forwards;
  }
  .rubberBand3 {
    animation: 1s rubberBand;
    animation-delay:.9s;
    animation-fill-mode: forwards;
  }