$color_red: #FF4343;
$color_grey: #404040;
$color_light_grey: #c7c7c7;

$title_size1: 26px;
$title_size2: 20px;
$p_size_L: 18px;
$p_size_M: 16px;
$p_size_S: 14px;
$p_size_XS: 12px;

$title_fontWeight: 700;

.body{
    position: relative;
}
.head_bg{
    width: 100%;
    height: 360px;
    background-color: #eeeeee;
    // position: absolute;
    top: 50px;
    .header1{
        .main_pic{
            // width: 200px;
            height: 300px;
            margin: 20px 0;
        } 
        .main_text{
            margin: 20px;
            .recipe_tittle{
                font-size: $title_size1;
                line-height: 3rem;
            }
            .recipe_intro{
                font-size: $p_size_S;
            }
            .like_btn{
                margin: 0 10px 0px 50px;
                border: 1px solid $color_red;
                padding: 5px;
                width: 100px;
                height: 40px;
                border-radius: 5px;
                background-color: #fff;
                cursor: pointer;
                &:hover{
                    .like_img{
                        display: none;
                    }
                    .liked_img{
                        display: inline-block;
                        margin-left: 25px;
                        // text-align: center;
                    }
                    
                }
                .like_img{
                    height: 25px;
                }
                .liked_img{
                    display: none;
                }
                .like_text{
                    font-size: 16px;
                    line-height: 25px;
                    margin-left: 10px;
                }
            }
            
            .cook_info{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #fff;
                color: $color_red;
                margin: 10px;
                .info_icon{
                    width: 55px;
                    display: block;
                    transform: translate(40%, 0);
                    margin-top: 7px;
                    margin-bottom: 5px;
                }
                .info_text{
                    text-align: center;
                    font-size: $title_size2;
                }
            }
        }
        .nutrition_table{
            width: 660px;
            margin: 30px 0;
            .n_th{
                font-size: 14px;
                text-align: center;
                background-color: #adadad;
            }
            td{
                font-size: 12px;
                text-align: center;
                background-color: #fff;
            }
        }
    }
}
.middle_part{
    // display: flex;
    // justify-content: space-around;
    // width: 1900px;
    // position: absolute;
    // top: 420px;
    // left: 5%;
    margin-top: 10px;
    
    .ingredients_wrap{
        // display: none;
        max-width: 500px; 
        // height: 500px;
        // border: 1px solid $color_light_grey;
        // border-radius: 15px;
        background-color: #fff;
        // position: absolute;
        // top: 420px;
        padding: 20px;
        .i_title{
            // margin: 20px 0 10px 20px;  
            line-height: 40px;
            font-size: $title_size1;
            font-weight: 700;
            
        }
        .ingredient{
            width: 200px;
            // margin: 10px 0 0px 10px;
            .i_text{
                .i_name{
                    margin-top:20px;
                    margin-bottom: 5px;
                    font-size: $p_size_L;
                }
                .i_qty{
                    font-size: $p_size_S;
                }
            }
        }
        .ingredient_pic{
            width: 70px;
            height: 70px;
        }
    }
    .add2cart{
        width: 300px;
        height: 200px;
        border: 1px solid #ff9012;
        padding: 20px;
        text-align: center;
        margin-top: 100px;
        .add2cart_title, .add2cart_24h, .add2cart_btn{
            margin: 10px;
        }
        .add2cart_title{
            font-size: $title_size1;
        }
        .add2cart_btn{
            font-size: 16px;
        }
        .add2cart_24h{
            font-size: $p_size_L;
        }
    }
    
}
.step{
    .step_num{
        font-size: 70px;
        font-weight: 700;
        margin: 10px;
        color: $color_red;
    }
    .step_pic {
        margin: 10px;
        img{
            width: 250px;
        }
    }    
    .detail{
        width: 400px;
        height: 200px;
        font-size: 16px;
        margin: 10px;
        }

}
.recommendation_wrap{
    .category_title{
        font-size: $title_size1;
    }
}
.author_wrap{
    // margin: 20px 50px;
    padding: 20px;
    // background-color:  $color_light_grey;
    border: 1px solid $color_light_grey;
    border-radius: 5px;
    .profile_pic{
        width: 100px;
        height: 100px;
        
    }
    .author_text{
        margin: 20px;
        .author_name{
            font-size: $p_size_L;
            font-weight: $title_fontWeight;
            // margin-top: 20px;
        }
        .author_intro{
            font-size: $p_size_S;
            margin: 5px 0;
        }
    }
    
}

.comment_wrap{
    margin-top: 50px;
    .profile_pic{
        width: 60px;
        height: 60px;
    }
    .comment_area{
        margin: 10px;
        .comment_input{
            border: 1px solid $color_light_grey;
            border-radius: 5px;
            font-size: $p_size_S;
            margin-top: 10px;
            margin-right: 10px;
            padding: 10px;
            width: 500px;
            height: 100px;
            resize:none;
            // color: $color_light_grey;
        }
        .comment_send{
            // width: 60px;
            // height: 40px;
            font-size: 14px;
            padding: 5px 20px;
            // background-color: $color_red;
            
        }
        .user_name{
            font-size: $p_size_M;
            font-weight: 700;
            margin-right: 20px;
        }
        .comment_time{
            font-size: $p_size_XS;
        }
        .comment_text{
            font-size: $p_size_S;
            margin: 10px 0;
            // border: 1px solid #000;
            // width: 300px;
            // height: 200px;
        }
    }
    
}


