$secondColor:#707070;
$thirdColor:#EFEDE8;
// .bgWrap {
    //     height: 100%;
    //     width: 100%;
    // }
    .basicWrap{
       
    overflow: hidden;
    width: 80%;
    height: 100vh;
    font-family: '微軟正黑體';
    color:#fff;
    user-select: none;
    .profileImg{
        width:200px;
    height:200px;
    -webkit-clip-path:circle(50% at 50% 50%);
    border: 3px solid #707070;
    border-radius: 50%;
    padding: 50px;
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            }
    }
    .infoWrap{
        position: relative;
        border: 10px solid $thirdColor;
        height: 520px;
        margin: 0;
   
        img {
            position: absolute;
            z-index: -1;
            filter: brightness(80%);
            object-fit: cover;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        .infoForm{
            display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 300px;
                height:  250px;
                font-size: 1rem;
                border-radius: 10px;
                padding: 10px;
                margin: 0 auto;
                // margin-top: 60px;
                background: rgba(0,0,0,.5);
            }
    }
    .infoTitle{
        background: $thirdColor;
    }
    table {
        border-collapse:separate;
        border-spacing:0px 20px;
    }
    input {
        border: 1px solid #707070;
        border-radius: 5px;
    }

}
// 3d
.bodyWrap {
    padding: 0;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background: #aaa;
    perspective: 5500px;

}

 .wrap91 {
    /* animation: ani9 10s infinite linear; */
    transform-style: preserve-3d;
    width: 600px;
    height: 300px;
    position: relative;
    transform: translateZ(-100px) rotateX(0deg) rotateY(0deg);
    margin: 0 auto;
    transition: .5s;
}

.box91 {
    width: 600px;
    height: 300px;
    background: rgba(255,255,255,.1);
    // background: #000;
    text-align: center;
    // line-height: 150px;
    color: #fff;
    // opacity: .3;
    position: absolute;
    font-size: 3rem;
    border: 1px solid #fff;
    transition: .5s;
}

.front91 {
    transform: rotateY(0deg) translateZ(300px);
}

.back91 {
    transform: rotateY(180deg) translateZ(300px);
}

.left91 {
    transform: rotateY(-90deg) translateZ(300px);
}

.right91 {
    transform: rotateY(90deg) translateZ(300px);
}

.top91 {
    transform: rotateX(90deg) translateZ(75px);
}

.bottom91 {
    transform: rotateX(-90deg) translateZ(75px);
}

/* 方向按鈕開始 */
.controlLeft {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #707070;
    /* position: fixed; */
    /* bottom: 20px; */
    /* right: 80px; */
    text-align: center;
    line-height: 35px;
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
    user-select: none;
    /* transition: .5s; */
}

.controlRight {
    /* transition: .5s; */
    cursor: pointer;
    font-weight: 800;
    text-align: center;
    line-height: 35px;
    font-size: 2rem;
    /* position: fixed; */
    /* bottom: 20px; */
    /* right: 20px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #707070;
    user-select: none;
}

.controlLeft:active {
    transform: scale(1.2, 1.2);
}

.controlRight:active {
    transform: scale(1.2, 1.2);
}

/* 方向按鈕結束 */
.opacity1 {
    opacity: 1;
}
/* 圖片控制大小 */
.imgInside {
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
}
/* 圖片控制大小 */
// 3d