$title_size1: 26px;
$title_size2: 20px;
$p_size_L: 18px;
$p_size_M: 16px;
$p_size_S: 14px;
$p_size_XS: 12px;

.c_category_title{
    font-size: $title_size1;
    margin: 20px;
    font-weight: 700;
    // color: #707070;
}
