$color_red: #FF4343;
$color_grey: #404040;
$color_light_grey: #c7c7c7;
$color_dark_blue: #1e3353;

$title_size1: 26px;
$title_size2: 20px;
$p_size_L: 18px;
$p_size_M: 16px;
$p_size_S: 14px;
$p_size_XS: 12px;
$title_fontWeight: 700;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

body{
    font-family: 'Noto Sans TC', sans-serif;
}
.bg_container {
    h2 {
        text-align: center;
        font-size: $title_size1;
        font-weight: bold;
        color: #404040;
        margin: 48px 0 24px 0;
    }

    .card_sec {
        justify-content: space-around;

        .card_item {
            cursor: pointer;
            min-width: 220px;
            max-width: 300px;
            padding: 15px;
            border-radius: .25rem;
            margin: 10px;
            transition: .5s;

            &:hover {
                box-shadow: 5px 5px 20px rgb(197, 197, 197);
            }

            .card_img {
                height: 140px;
                text-align: center;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }

            .card_name {
                min-height: 48px;
                padding: 0;
                margin: 10px auto;
                

                h3 {
                    text-align: center;
                    font-size: 1.25rem;
                    font-weight: bold;
                    color: #404040;
                }
            }

            .card_linebar {
                padding: 0;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #ff4343;
                padding-bottom: 2px;

                .card_price {
                    font-size: 1.25rem;
                    white-space: nowrap;
                    font-weight: bold;
                    color: #404040
                }

                h5 {
                    transition: .3s;
                    margin: 0;
                    line-height: 30px;
                    font-size: 1.25rem;
                    color: #ff4343;
                    text-decoration: none;
                    font-weight: bold;
                    transition: .5;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
                .card_icon {
                    display: block;
                    height: 30px;
                    transition: .3s;
    
                    &:hover {
                        transform: scale(1.2);
                    }
                }
           
            }

            .card_spec {
                padding: 0;
                text-align: left;
                color: #707070;
                font-size: .8rem;
            }
        }
    }
}

.product_modal {
    .modal_header {
        .close {
            width: 30px;
            height: 30px;
            padding: 0;
            margin: 0;
            margin-right: -16px;
            border-radius: 100%;
            outline: 0;
            border: 0;
            background-color: #707070;
            text-shadow: 0 0px 0 #f8f9fa;

            &:active {
                box-shadow: 0px 0px 5px #000;
            }

            span {
                text-shadow: 0 0px 0 #f8f9fa;
                font-weight: bold;
                color: #f8f9fa;
                margin-top: -3px;
                display: block;
                line-height: 30px;
                text-shadow: 0;

            }
        }
    }

    .product_img {
        border: 0px;
        box-shadow: #707070 0px 0px 10px;
    }

    .product_name {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .product_price {
        margin: 20px 0;
        line-height: 32px;
        font-weight: bold;

        span {
            vertical-align: bottom;
            color: #ff4343;
            font-size: 1.5rem;
        }
    }

    .product_spec {
        color: #707070;
    }

    .btn_addCart {
        color: #f8f9fa;
        font-weight: bold;
    }
}

.alert_modal{
    text-align: center;
    .modal_header {
        border: 0;
        .modal-title{
            font-size: 1.5rem;
            font-weight: bold;
            margin: 20px auto 0 auto;
        }
        .close {
            position: fixed;
            right: 32px;
            top: 16px;
            width: 30px;
            height: 30px;
            padding: 0;
            margin: 0;
            margin-right: -16px;
            border-radius: 100%;
            outline: 0;
            border: 0;
            background-color: #707070;
            text-shadow: 0 0px 0 #f8f9fa;

            &:active {
                box-shadow: 0px 0px 5px #000;
            }

            span {
                text-shadow: 0 0px 0 #f8f9fa;
                font-weight: bold;
                color: #f8f9fa;
                margin-top: -3px;
                display: block;
                line-height: 30px;
                text-shadow: 0;

            }
        }
    }
    .tada {
        width: 100px;
        animation: 2s tada infinite;
    }
    .alert_content{
        font-weight: bold;
        margin-top: 20px;
    }
    .modal_footer{
        border: 0;
        .btn_alert {
            width: 100px;
            color: #f8f9fa;
            font-weight: bold;
        }
    }

}





@media screen and (max-width:992px) {
    .sec5_card_sec {
        .sec5_card_item {
            h3 {
                font-size: 20px;
            }
        }

        .cardprice_bar {
            p {
                font-size: 15px;
            }

            .line_bar {
                height: 50px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .sec5_card_sec {
        .sec5_card_item {
            h3 {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .container {
        .sec5_card_sec {
            .sec5_card_item {
                flex-basis: 75%;
            }
        }

        .cardprice_bar {
            p {
                text-align: center;
            }

            .line_bar {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                height: 100px;

                p {
                    font-size: 15px;
                }
            }
        }
    }
}