$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

//食譜名稱,食譜照上傳
h1{
    font-family: "微軟正黑體";
    text-align: center;
    font-weight: 700;
}
.upload_header{
    font-family: "微軟正黑體";
    width: 60%;
    margin-top: 5%;
    .input_form{
        .header{
            width: 80%;
            border:1px solid red !important;
            border-radius: 20px !important;
            margin-left: 10%;
        }
        .upload_chicken{
            width: 80%;
            height: 41vh;
            position: relative;
            margin-top: 5%;
            margin-left: 10%;
            background-color: #707070;
            opacity: .2;
            border-radius: 15px;
        }
        .chicken_img{
            position: absolute;
            width: 10%;
            height: 21%;
            opacity: .5;
            left: 31%;
            top: 40%;
        }
        .recipe_header_img{
            position: absolute;
            width: 27%;
            height: 41%;
            opacity: 0;
            top: 34%;
            left: 21.5%;
            cursor: pointer;
        }
        .line_img{
            position: absolute;
            top: 57%;
            left: 21.5%;
            width:27%;
        }
        .img{
            position: absolute;
            width: 27.7%;
            height: 41%;
            opacity: 1;
            left: 21%;
            top: 34%;
            border-radius: 15px;
        }
        //食譜時間,份量,難度
        .recipe_dropdowns{
            margin: 5% 0 0 9.5%;
            width: 70%;
        }
        //食譜簡介
        .introduction{
            margin: 5% 0 0 10%;
            width: 80%;
            height: 27vh;
            resize:none;
            border: 1px solid #F53643;
            border-radius: 15px;
        }
    }
}
//食譜食材上傳
.upload_Introduction{
    width: 50%;
    margin-top: 3%;
    text-align: center;
    font-family: "微軟正黑體";
    .recipe_project{
        margin: 5% 0 0 -6.5%;
        h2{
            font-size: 1.5em;
            font-weight: 700;
        }
        .recipe_project_items{
            margin-left: -6%;
        }
        .recipe_project_number{
            margin-left: 7.5%;
        }
    }
    .upload_Introduction_title{
        margin-top: 5%;
        .select_filter_box{
            margin-left: 2.5%;    
        }
        .select_items_box{
            width: 40%;
            margin-left: 5%;
        }
        .introduction_number{
            width: 5vw;
            height: 30px;
            margin: 2.5% 0 0 9.5%;
        }
    }
    
    
}
//步驟
.recipe_step{
    margin-top: -25%;
    font-family: "微軟正黑體";
    .step_header{
        width: 70%;
        margin: 0 auto;
        h2{
            font-size: 2.5em;
            margin-top: 40%;
            text-align: left;
            border-bottom: 2px solid #000;
            padding-bottom: 0.5%;
        }
    }
    .upload_step{
        width: 70%;
        margin: 3% auto 0;
        border-bottom: 1px solid #707070;
        padding-bottom: 3%;
        .step_number_step{
            .input_step_form{
                text-align: center;
                .upload_camera{
                    width: 80%;
                    height: 105%;
                    position: relative;
                    margin-left: 10%;
                    background-color: #707070;
                    opacity: .2;
                    border-radius: 15px;
                }
                .imgti{
                    position: absolute;
                    width: 74%;
                    height: 105%;
                    opacity: 1;
                    left: 13%;
                    top: 0%;
                    border-radius: 15px;
                }
                .camera_icon{
                    font-size: 80px;
                    opacity: .5;
                    position: absolute;
                    top: 25%;
                    left: 39%;

                }
                .step_img{
                    opacity: 0;
                    position: absolute;
                    top: 0%;
                    left: 13%;
                    width: 74%;
                    height: 105%;
                    cursor: pointer;
                }
            }
            .upload_number_step{
                .step_number{
                    font-size: 2.5em;
                    height: 1px;
                    margin: -2% -1.5% 0 0;
                }
                .step_icons{
                    width: 95%;
                    height: 1%;
                    cursor: pointer;
                    .step_delete_icon{
                        float: right;
                        font-size: 30px;
                    }
                    .trash{
                        margin-right: 2%;
                    }
                }
                .step_introduction{
                    width: 102%;
                    height: 15vh;
                    resize:none;
                    margin: 2% 0 0 -2%;
                }
            }
        }
    }
}
// 新增步驟
.input_step{
    text-align: center;
    margin-top: -3%;
    .bubbly-button{
        font-family: 'Helvetica', 'Arial', sans-serif;
        display: inline-block;
        font-size: 1em;
        padding: 1em 2em;
        margin-top: 70px;
        margin-bottom: 60px;
        -webkit-appearance: none;
        appearance: none;
        background-color: $button-bg;
        color: $button-text-color;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        position: relative;
        transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
        &:focus {
          outline: 0;
        }
        &:before, &:after{
          position: absolute;
          content: '';
          display: block;
          width: 140%;
          height: 100%;
          left: -20%;
          z-index: -1000;
          transition: all ease-in-out 0.5s;
          background-repeat: no-repeat;
        }
        &:before{
          display: none;
          top: -75%;
          background-image:  
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
          radial-gradient(circle, $button-bg 20%, transparent 20%), 
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
        }
        &:after{
          display: none;
          bottom: -75%;
          background-image:  
          radial-gradient(circle, $button-bg 20%, transparent 20%), 
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%),
          radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
        }
        &:active{
          transform: scale(0.9);
          background-color: darken($button-bg, 5%);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
        }
        &.animate{
            &:before{
            display: block;
            animation: topBubbles ease-in-out 0.75s forwards;
            }
            &:after{
            display: block;
            animation: bottomBubbles ease-in-out 0.75s forwards;
            }
        }
    }
    @keyframes topBubbles {
        0%{
          background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
        }
          50% {
            background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
       100% {
          background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
        }
    }
    @keyframes bottomBubbles {
        0%{
          background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
        }
        50% {
          background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
       100% {
          background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
        }
    }
}
// 上傳/取消
.send_buttom{
    text-align: center;
    padding: 1% 0 3%;
    .btn{
        padding: 10px 30px;
    }
    .btn_mr{
        margin-right: 10%;
    }
}