.slider{
    height: 80vh;
    width: 80vw;
    background: url(img/cookbook.jpg);
    background-position: center;
    background-size: cover;
    margin: 5vh auto 0;
    font-family: '微軟正黑體';
}
.blog_text{
    padding: 7% 0 0 10% !important;
    h2{
        font-size: 4em;
    }
    p{
        font-size: 2em;
        margin-top: 3%;
    }
}
.blog_text_button{
    .yellow{
        background-color: #F2CF66;
        border-bottom: 5px solid #D1B358;
        text-shadow: 0px -2px #D1B358;
    }
    .animate{
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
    }
    .action-button{
        position: relative;
        padding: 10px 40px;
        margin: 0px 10px 10px 0px;
        float: left;
        border-radius: 10px;
        font-size: 25px;
        color: #000;
        text-decoration: none;
        &:active{
            transform: translate(0px,5px);
            -webkit-transform: translate(0px,5px);
            border-bottom: 1px solid;
        }	
    }
    .change_blog_img{
        margin: 17% 0 0 13%;
    }
}