$mainColor : #FF4343;
.lightBox {
    font-family: '微軟正黑體';
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($color: #000000, $alpha: .2);
    z-index: 9999;
    display: none;
    opacity: 0;
    transition: .5s;
    justify-content: center;
    align-items: center;
    .formPattern {
      background: #fff;
      padding: 30px;
      border-radius: 20px;
    }
    h3 {
      text-align: center;
    }
    form {
      text-align: left;
    }
    .close {
        width: 50px;
        height: 50px;
        border: 5px solid $mainColor;
        border-radius: 50%;
        position: fixed;
        top: 50px;
        right: 50px;
        text-align: center;
        line-height: 30px;
        font-size: 3em;
        color: $mainColor;
        transition: .5s;
        transform-origin: center;
    }
    .close:hover {
        color: $mainColor !important;
        transform: scale(1.5);
    }
}
