.select_box{
    background-color: grey;
    color: white;
    width: 150px;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    margin: 10px;
    font-size: 14px;
    // text-align: center;
}
.select_options{
    margin: 10px;
    font-size: 14px;
    // border-radius: 5px;
    // line-height: 20px;
    // height: 50px;
    // padding: 10px;
    background-color: #fff;
    color: grey;
}
.select_box2{
    padding: 10px 20px;
    font-size: 14px;
}