.love_background{
    width: 100%;
    height: 100vh;
    background: url(./img/bg2.png) center center no-repeat;
}
.love_background2{
    width: 100%;
    height: 100vh;
    background: url(./img/bg5.png) center center no-repeat;
}
.love_background3{
    width: 100%;
    height: 100vh;
    background: url(./img/column_bg.png) center center no-repeat;
}