$mainColor : #FF4343;
$secondColor : #707070;
$color_red: #FF4343;
$color_grey: #404040;
$color_light_grey: #c7c7c7;
$color_dark_blue: #1e3353;

$title_size1: 26px;
$title_size2: 20px;
$p_size_L: 18px;
$p_size_M: 16px;
$p_size_S: 14px;
$p_size_XS: 12px;
$title_fontWeight: 700;
.container{
    h2{
        text-align: center;
        font-size: $title_size1;
        font-weight: $title_fontWeight;
        color:$color_grey;
        margin: 5px;
        padding:10px 0px;
    }

    .sec5_card_sec{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 5px;
        margin: 0 auto;

        .sec5_card_item{
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 5px;
            h3{
                padding: 5px;
                font-size: $title_size2;
                font-weight: 600;
                color: $color_grey;
                .link_c{
                    text-decoration: none;
                }
            }
            img{
                margin: 0 auto;
                width: 45%;
                height: 45%;
            }
                
        }
        .cardprice_bar{
            display: flex;
            flex-direction: column;
            // justify-content: space-evenly;
            text-align: end;
            color:$mainColor;
            .line_bar{
                display: flex;
                justify-content:space-between;
                border-bottom: 1px $mainColor solid;
                padding-bottom: 2px;

            }

        }
    }  
}

.board_sec{
    display: flex;
    margin: 0 auto;
    h2{
        font-weight: 600;
    }
    img{
        margin: 0 auto;
        width: 30%;
        height: 30%;
    }
    .icon{
        width: 25px;
        height: 30px;
        margin: 2px;
    }
    .board_right{
        width: 45%;
    } 
}
