$mainColor : #FF4343;
.centerWrap:hover {
    // height: 500px;
}
.centerWrap {
    background: #E8E8E8;
    width: 250px;
    height: 500px;
    overflow: hidden;
    font-family: '微軟正黑體';
    color: #707070;
    user-select: none;
    transition: .5s;
    border-radius: 5px;
    // transform: translateY(80px);
    // position: fixed;
    // top:100px;
    h3 {
        color:$mainColor;
        border-bottom: 1px solid #FF4343;
    }
    ul {
        padding-left: 0;
        li {
            list-style-type: none;
            padding: 10px 0;
        }
    }
    .a {
        color: #707070;
    }
    .a:hover {
        text-decoration: none;
    }
    .active {
        font-weight: 600;
        
    }
}