$mainColor : #FF4343;
.centerWrap:hover {
    // height: 500px;
}

.centerWrap {
    background: #E8E8E8;
    width: 250px;
    height: 520px;
    overflow: hidden;
    font-family: '微軟正黑體';
    color: #707070;
    user-select: none;
    transition: .5s;
    border-radius: 5px;
    // transform: translateY(80px);
    // position: fixed;
    // top:100px;
    h3 {
        color:$mainColor;
        text-align: center;
    }
    .bb{
        border-bottom: 1px solid #FF4343;
        margin-bottom: 10px; 

    }
    ul {
        padding-left: 0;
        li {
            list-style-type: none;
            padding: 10px 0;
            transition: .5s;
        }
        li:hover {
            transform: scale(1.3,1.3) translateX(10px);
            transform-origin: left center ;
        }
    }
    .a {
        color: #707070;
    }
    .a:hover {
        text-decoration: none;
    }
    .active {
        font-weight: 600;
        
    }
    .logout {
        transition: .5s;
    }
    .logout:hover {
        // filter: brightness(120%);
    }
}
@keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    animation: 1s rubberBand;
  }