/* sec3_4 */
$color_red: #FF4343;
$color_grey: #404040;
$color_light_grey: #c7c7c7;
$color_dark_blue: #1e3353;

$title_size1: 26px;
$title_size2: 20px;
$p_size_L: 18px;
$p_size_M: 16px;
$p_size_S: 14px;
$p_size_XS: 12px;

.sec3_4_container{
    /* sec3 */
    display: flex;
    justify-content: space-between;
    
    .sec3{
        width: 75%;
        // margin-right: 2px;
        // padding: 2px;
        background-color: rgba(244, 244, 248, 0.658);
        .sec3_title{
            width: 100%;
            margin: 0 30%;
            .sec3_title_txt{
                font-size: $title_size1;
                font-weight: 700;
                padding: 5px;
                color: $color_grey;
                margin-top: 10px;
                display: inline-block;
            }
            .priceTag{
                height: 50px;
                margin: 5px;
            }
        }
        
        .sec3_card_sec{
            display: flex;
            justify-content: space-around;
            padding: 5px;
            .sec3_card_item{
                width: 40%;
                display: flex;
                padding: 5px;
                .sec3_card_txt{
                    padding: 20px 5px;
                }
                .link_sec3{
                    text-decoration: none;
                }
                h4{
                    padding-left: 10px;
                    font-size: $title_size2;
                    font-weight: 600;
                    color: $color_grey;
                    transition: .5s;
                    &:hover{
                        transform: scale(1.1);    
                        }
                }
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }
            .cardprice_bar{
                display: flex;
                margin: 12px;
                img{
                    width: 20px;
                    height: 20px;
                }
                p{
                    font-size: $p_size_S;
                }
            }
        }
    }
    // sec4
    .sec4{
        width: 25%;
        // display: flex;
        flex-direction: column;
        margin: 2px;
        .sec4_event1{
            height: 60%;
            background: url(../images/event_xmas.jpg) no-repeat;
            background-size: cover;
            width: 100%;
            cursor: pointer;
            &:hover{
                // opacity: .7;
                .event_title, .event_intro{
                    color: #ffd3c8;
                }
            }
        }
        .event_title{
            padding: 30% 10% 0 5%;
            font-size: $title_size2;
            font-weight: 700;
            color: white;
        }
        .event_intro{
            padding: 0% 10% 0 5%;
            font-size: $p_size_S;
            color: white;
        }
        .event_pic{
            width: 100%;
        }
        .sec4_event2{
            height: 40%;
            background: url(../images/event_fruit.jpg) no-repeat;
            background-size: cover;
            width: 100%;
            cursor: pointer;
            .event_title{
                padding: 20% 10% 0 5%;
            }
            &:hover{
                // opacity: .7;
                .event_title, .event_intro{
                    color: #d9ff92;
                }
            }
        }
    }
}

@media screen and (max-width:992px){
.sec3_4_container{
    .sec4{
        .sec4_event1{
            height: 25%;
        }
        .sec4_event2{
            height: 25%;
        }
    }
}
}
@media screen and (max-width:768px){
.sec3_4_container{
    .sec3{
        width: 100%;
        .sec3_card_sec{
            .sec3_card_item{
                h4{
                    font-size: 10px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
    }
    .sec4{
        display: none;
    }
}
}
@media screen and (max-width:576px){
h2{
    text-align: center;
}
.sec3_4_container{
    .sec3{
        width: 100%;
        .sec3_card_sec{
            flex-direction: column;         
            .sec3_card_item{
                width: 100%;
                flex-direction: row;
                h4{
                    font-size: 20px;
                }
                p{
                    font-size: 20px;
                }
                img{
                    width: 150px;
                    height: 150px;
                }
            }
            .cardprice_bar{
                img{
                    display: none;
                }
            }
        }
    }
    // sec4
    .sec4{
        display: none;
    }
}
}    