/* sec3_4 */
.sec3_4{
    width: 100%;
    background-color: #ECF0FB;
    box-sizing: border-box;
    margin: 5px;
    .sec3_4_container{
        display: flex;
        width: 95%;
        margin: 0 auto;
        /* sec3 */
        .sec3{
            width: 75%;
            height: 300px;
            background-color: #ECF0FB;
            margin-right: 5px;
            padding: 5px;
            h2{
                padding: 5px;
            }
            .sec3_card_sec{
                display: flex;
                justify-content: space-around;
                padding: 5px;
                .sec3_card_item{
                    width: 40%;
                    display: flex;
                    // background-color: #8a5a5a;
                    padding: 5px;
                    h4{
                        padding-left: 10px;
                    }
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
                .cardprice_bar{
                    display: flex;
                    margin: 12px;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }

        }
        // sec4
        .sec4{
            width: 25%;
            height: 300px;
            display: flex;
            flex-direction: column;
            margin: 2px;
            .sec4_event1{
                height: 50%;
                background: url(./image/test4.jpg) no-repeat;
                background-size: cover;
            }
            .sec4_event2{
                height: 50%;
                background: url(./image/test5.jpg) no-repeat;
                background-size: cover;
            }
        }
    }
}
