$color_red: #FF4343;
$color_grey: #404040;
$color_light_grey: #c7c7c7;

$title_size1: 26px;
$title_size2: 20px;
$p_size_L: 18px;
$p_size_M: 16px;
$p_size_S: 14px;
$p_size_XS: 12px;
$title_fontWeight: 700;

.c_category_title{
    font-size: $title_size1;
    margin: 20px;
    font-weight: 700;
    // color: #707070;
}
.title1{
    font-size: $title_size1;
    font-weight: $title_fontWeight;
}
.title2{
    font-size: $title_size2;
    font-weight: $title_fontWeight;
}
.title3{
    font-size: $p_size_XS;
    font-weight: $title_fontWeight;
    // line-height: 10px;
}
.text{
    font-size: $p_size_S;
}


.head_slider{
  margin-bottom: 10px;
  
}
.search_bar{
  margin-bottom: 40px;
}
.middle_part{
    // margin-top: 50px;
  }
  .product_slider{
    margin: 20px 0;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    animation: 1s fadeIn;
  }
.cate_nav{
  padding-bottom: 10px;
  
}
.category_link{
  color: grey;
  border-bottom: 2px solid $color_light_grey;
  // padding-bottom: 5px;
  padding: 5px 0px 5px 5px;
  margin-right: 20px;
  &:hover{
    color: $color_red;
    font-weight: 700;
    border-bottom: 2px solid $color_red;
    text-decoration: none;
  }
  
}
.link_active{
  color: $color_red;
  border-bottom: 2px solid $color_red;
}
.subCate_nav{
  .sub_link{
    color: #2c4b79;

    &:hover{
      color: #1e3353;
      font-weight: 700;
      // border-bottom: 2px solid #1e3353;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

// .subRecipes_wrap{
  // @keyframes fadeIn {
  //   from {
  //     opacity: 0;
  //   }
  
  //   to {
  //     opacity: 1;
  //   }
  // }
  // .fadeIn {
  //   animation: 3s fadeIn;
  // }
  
// }
.recipe_title{
  line-height: 2.2rem;
  font-size: $p_size_M;
  font-weight: $title_fontWeight;
}
.recipe_text{
  height: 70px;
  line-height: 1.6rem;
  overflow: hidden;
}
.like_btn1{
  height: 20px;
  position: absolute;
  right: 50px;
  top: 125px
}
.liked_btn1{
  height: 20px;
  position: absolute;
  right: 50px;
  top: 125px;
  opacity: 0;
  transition: .5s;
  &:hover{
    opacity: 1;
  }
  
}
.share_btn1{
  height: 20px;
  position: absolute;
  right: 20px;
  top: 125px;
}
.shared_btn1{
  height: 20px;
  position: absolute;
  right: 20px;
  top: 125px;
  // transition: .5s;
  opacity: 0;
  &:hover{
    opacity: 1;
  }
}

@media screen and (max-width:990px){
  .middle_part{
    display: block !important;
  }
}
