.head_slider{
  margin-bottom: 10px;
  
}
.search_bar{
  margin-bottom: 40px;
}
.middle_part{
    // margin-top: 50px;
  }
  .product_slider{
    margin: 20px 0;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    animation: 1s fadeIn;
  }
.category_link{
  color: grey;
  
  &:hover{
    color: black;
    font-weight: 700;
    border-bottom: 2px solid black;
    text-decoration: none;
  }
}