$mainColor : #FF4343;
.wrapRe {
  height: 110vh;
  margin-top: -150px;
  overflow: hidden;
  .tree {
    object-fit: cover;
    width: 100%;
    height: 100%;
    // opacity: .9;
  }
}
.register {
    overflow: hidden;
    font-family: '微軟正黑體';
    color: #707070;
  transform: translateY(-650px);
    form {
      border: 1px dashed #707070;
      background: #fff;
      border-radius: 5px;
      padding: 20px;
    }
    h3 {
        font-size: 2em;
        letter-spacing: 5px;
    }
    .btn1 {
        background: $mainColor !important;
    }
    img {
        transform: translateY(120px);
    }
}
@keyframes fadeInLeft {
    from {
      opacity: 1;
      transform: translate3d(-20%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    animation: 1s fadeInLeft;
  }
  @keyframes fadeInRight {
    from {
      opacity: 1;
      transform: translate3d(20%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    animation:1s fadeInRight;
  }
 