$mainColor : #FF4343;
$secondColor : #707070;

footer {
    border-top: 2px solid $mainColor;
    font-family: '微軟正黑體';
    color: $secondColor;
    font-weight: 600;
    line-height: 2em;
    font-size: .8em;
    ul {
        li{
            list-style-type: none;
        }
    }
    .social {
        width: 500px;
        user-select: none;
        div {
            .ss {
                object-fit: contain;
                user-select: none;
                width: 100%;
                height: 100%;
            }
        }
    }
}