/* sec7 */
.sec7{
    width: 100%;
    height: 500px;
    //排版測試 background-color: $mainColor;
    box-sizing: border-box;
    margin: 5px;
    .b_container{
        width: 85%;
        margin: 0 auto;
        h2{
            text-align: center;
        }
        .sec7_flex{
            display: flex;
            justify-content: space-around;
        }
        .sec7_card_item{
            width: 30%;
            text-align: center;
            img{
                width: 100%;
                height: 70%;
            }
        }
    }
}
