$mainColor : #FF4343;

.login {
    overflow: hidden;
    font-family: '微軟正黑體';
    color: #707070;
    form {
      // border: 1px solid #707070;
      padding: 20px;
      border-radius: 20px;
    }
    h3 {
        font-size: 2em;
        letter-spacing: 5px;
    }
    .btn1 {
        background: $mainColor !important;
    }
    img {
        transform: translateY(120px);
    }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: .5s fadeIn;
}
  
  