.recipe{
    position: relative;
}
.recipe_text{
    margin-top: -2%;
    h1{
        width: 50%;
        text-align: center;
        font-family: 'Regular';
        font-size: 6em;
        margin: 5% auto 0;
        color: #707070;
    }
    p{
        width: 20%;
        text-align: center;
        font-family:'微軟正黑體';
        font-size: 2.5em;
        margin: 2% auto 0;
        border-top: 2px solid #707070;
        color: #707070;
    }
}

.red{
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}
.animate{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.action-button{
    position: absolute;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-size: 25px;
    color: #000;
    text-decoration: none !important;
    font-family:'微軟正黑體';
    &:hover{
        color: #000;
    }
    &:active{
        transform: translate(0px,5px);
        -webkit-transform: translate(0px,5px);
        border-bottom: 1px solid;
    }	
}
.upload_blog_img{
    right: 14%;
    top: 110%;
}
