// blog食譜清單標題
.recipe_header{
    text-align: center;
    margin-top: 2%;
    font-family: "微軟正黑體";
    h1{
        font-size: 3.5em;
    }
    p{
        margin: 1% auto 0;
        width: 11%;
        border-top: 2px solid #707070;
        font-size: 1.5em;
        font-weight: 700;
    }
}